.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-card {
  display: flex;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  margin: 8px 0;
  width: 250px;
}
.img-card {
  width: 100%;
  display: flex;
  background-color: #686868;
  height: 120px;
  justify-content: center;
  align-items: center;
  color: white;
}
.block-body {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.block-btn {
  display: flex;
  margin: 12px 0;
}
.card-btn {
  display: flex;
  padding: 7px 18px;
  background-color: #1d8df9;
  color: white;
  border: none;
  border-radius: 3px;
}
.card-text {
  margin-top: 10px;
}

